body{
    margin: 0;
}
.container{
    border:6px solid black;
    display:flex;
    /*justify-content: flex-start;*/
    /*justify-content: flex-end;*/
   /* justify-content: center;*/
    /*justify-content: space-between;*/
    /*justify-content: space-around;*/
    /*justify-content: space-evenly;*/
    height: 800px;
   flex-direction: column;
   /* justify-content: flex-start;*/
    /*justify-content: flex-end;*/
    /*justify-content: center;*/
    /*justify-content: space-between;*/
    /*justify-content: space-around;*/
    justify-content: space-evenly;



}
.flex-item {
    color:black;
    text-align: center;
    font-size:2rem;
    padding: 1rem;

}

.div1{
    background-color: aquamarine;
}
.div2{
    background-color: bisque;
    padding: 40px;

}
.div3{
    background-color: brown;
    padding: 80px;
}
.div4{
    background-color: burlywood;
    padding: 50px;

}
.div5{
    background-color: chartreuse;
}
.div6{
background-color: cornflowerblue;
}
.div7{
    background-color: crimson;
}
.div8{
    background-color: darkcyan;
}
.div9{
    background-color: darkorange;
}

